@import "tailwindcss";

@theme {
  --font-handwritten: "Reenie Beanie", cursive;
  --font-doto: "Doto", sans-serif;
}

body {
  background-color: #0a0a0a;
  color: #e5e5e5;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  overflow: hidden;
}

.handwritten {
  font-family: var(--font-handwritten);
}

.doto {
  font-family: var(--font-doto);
}

/* Hide scrollbars */
::-webkit-scrollbar {
  display: none;
}
